<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>业务笔记-代理商</title>
<!--<base href="http://www.ddzhaobu.com/m/" />-->
<meta name="keywords" content="业务笔记,移动CRM,外勤助手,外勤管理软件,销售管理软件,移动办公平台" />
<meta name="description" content="业务笔记专为中小型团队量身打造移动CRM客户关系管理和销售管理软件,帮助企业高效管理外勤业务人员，真正实现移动办公。移动CRM互联时代的领航者!400-810-5567。" />
<meta http-equiv="Expires" content="-1" />               
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" /> 
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!--<link rel="shortcut icon" href="../resources/images/favicon.ico" />-->
<link rel="stylesheet" type="text/css" href="../resources/css/basic.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<script type="text/javascript" src="../resources/js/plugin/zepto.min.js"></script>
<script type="text/javascript" src="../resources/js/plugin/jquery-swiper.js"></script>
<script type="text/javascript" src="../resources/js/plugin/jquery-animate.js"></script>
<script type="text/javascript" src="../resources/js/common.js"></script>
</head>

<body><!-- swiper-container -->


<div class="swiper-container" id="box">
	<div class="swiper-wrapper">
		
		<div class="swiper-slide p1">
			<img src="../resources/images/icon/logo.png" alt="" class="logo">
			<div class="p1_h">
				<h1>加盟业务笔记代理<br>与我们共同成长</h1>
				<p>——寻找真诚的代理伙伴与团队成员共同开拓进取</p>
			</div>
			<a href="#">快速下载业务笔记</a>
		</div>
		
		
		
		
		<div class="swiper-slide p2 fix">
			<h1>成为业务笔记代理商，会是您最英明的战略决策</h1>
			<ul>
				<li class="fix">
					<img src="../resources/images/icon/p2_1.png" alt="">
					<div class="cell">
						<h2>国际顶级VC投资</h2>
						<p>已获得经纬创投、日本CA创投、Redpoint Ventures及雷军的顺为基金的三轮数千万美金的风险投资</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p2_2.png" alt="">
					<div class="cell">
						<h2>专业的团队</h2>
						<p>曾就职于京东、阿里、腾讯等知名公司的技术骨干及产品经理主抓业务笔记，产品本身具备竞争力</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p2_3.png" alt="">
					<div class="cell">
						<h2>持续的利润</h2>
						<p>保证代理商持续维护客户，后续续费由代理商执行，确保代理商持续利润</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p2_4.png" alt="">
					<div class="cell">
						<h2>提高企业的核心竞争力</h2>
						<p>持续推出新版本，拓展代理商各个行业业务领域</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p2_5.png" alt="">
					<div class="cell">
						<h2>深度服务，全面配合指导代理商</h2>
						<p>深度为代理商服务，各种培训帮助代理商第一时间熟悉系统</p>
					</div>
				</li>
			</ul>
		</div>
		
		
		
		<div class="swiper-slide p3">
			<div class="part_h">
				<p>帮您解决：</p>
				<h1>外勤人员的效率为什么这么低？</h1>
			</div>
			<img class="p3_img" src="../resources/images/pic/p3_img.png" alt="">
			<ul>
				<li class="fix">
					<img src="../resources/images/icon/p3_1.png" alt="">
					<div class="cell">
						<h2>外勤轨迹</h2>
						<p>实时查看员工位置，<br>督查员工工作情况</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p3_2.png" alt="">
					<div class="cell">
						<h2>手机打卡</h2>
						<p>移动设备考勤打卡，<br>上传云端方便快捷</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p3_3.png" alt="">
					<div class="cell">
						<h2>拍照签到</h2>
						<p>实地位置拍照签到，<br>方便查看拜访记录</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p3_4.png" alt="">
					<div class="cell">
						<h2>业绩评估</h2>
						<p>实时查看员工情况，<br>督促完成指定目标</p>
					</div>
				</li>
			</ul>
		</div>
		
		
		<div class="swiper-slide p4">
			<div class="part_h">
				<p>帮您解决：</p>
				<h1>客户如何沉淀？业务如何预测？</h1>
			</div>
			<img class="p4_img" src="../resources/images/pic/p4_img.png" alt="">
			<ul>
				<li class="fix">
					<img src="../resources/images/icon/p4_1.png" alt="">
					<div class="cell">
						<h2>客户管理</h2>
						<p>客户信息永久保存，<br>动态信息一目了然</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p4_2.png" alt="">
					<div class="cell">
						<h2>公海管理</h2>
						<p>客户资源重复利用，<br>快速拿下客户订单</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p4_3.png" alt="">
					<div class="cell">
						<h2>业务流程管理</h2>
						<p>针对解决销售问题，<br>提高团队销售业绩</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p4_4.png" alt="">
					<div class="cell">
						<h2>跟进记录</h2>
						<p>记录客户进展情况，<br>查看业务跟进信息</p>
					</div>
				</li>
			</ul>
		</div>
		
		
		
		<div class="swiper-slide p3">
			<div class="part_h">
				<p>帮您解决：</p>
				<h1>如何有效的进行团队销售管理？</h1>
			</div>
			<img class="p3_img" src="../resources/images/pic/p5_img.png" alt="">
			<ul>
				<li class="fix">
					<img src="../resources/images/icon/p5_1.png" alt="">
					<div class="cell">
						<h2>日程管理</h2>
						<p>记录自由事务安排，<br>保证不会延误事宜</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p5_2.png" alt="">
					<div class="cell">
						<h2>移动审批</h2>
						<p>移动办公准确高效，<br>审批流程可无纸化</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p5_3.png" alt="">
					<div class="cell">
						<h2>工作总结</h2>
						<p>工作内容清晰明了，<br>随时汇报永久保存</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p5_4.png" alt="">
					<div class="cell">
						<h2>工作分享</h2>
						<p>员工随时沟通交流，<br>助力个人能力提高</p>
					</div>
				</li>
			</ul>
		</div>
		
		
		
		<div class="swiper-slide p6 fix">
			<h1>最有利的招商政策，和合作伙伴一起创造财富</h1>
			<ul>
				<li class="fix">
					<img src="../resources/images/icon/p6_1.png" alt="">
					<div class="cell">
						<h2>免除压货，解放资金</h2>
						<p>摆脱传统软件压货代理制度，<br>解放代理商的资金压力</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p6_2.png" alt="">
					<div class="cell">
						<h2>持续分成，永续经营</h2>
						<p>首年销售高折扣，次年续费，持久分成，<br>跟代理商成为长久的合作伙伴</p>
					</div>
				</li>
				<li class="fix">
					<img src="../resources/images/icon/p6_3.png" alt="">
					<div class="cell">
						<h2>统一价格，市场透明</h2>
						<p>全国统一价格，统一折扣，确保代理商利益</p>
					</div>
				</li>
			</ul>
			<h1>业务笔记将在全国各大城市寻找城市独家代理</h1>
			<dl>
				<dt>代理条件</dt>
				<dd>1. 有相关行业经验者优先</dd>
				<dd>2. 有自己的行业客户或者经销商代理商</dd>
				<dd>3. 有中小型客户企业资源及集团客户资源</dd>
				<dd>4. 有客户开发能力并且愿意拓展市场</dd>
				<dd>5. 销售团队10人（含）以上专职销售人员</dd>
			</dl>
			<dl>
				<dt>渠道招商电话</dt>
				<dd><big>400-810-5567</big></dd>
			</dl>
		</div>
		
		
		
		<div class="swiper-slide p7">
			<div class="p7_top fix">
				<a href="#">App下载</a>
				<img src="../resources/images/icon/logo.png" alt="">
			</div>
			<dl>
				<dt>意向申请表</dt>
				<dd><input type="text" placeholder="请输入联系人姓名（必填）"></dd>
				<dd><input type="text" placeholder="请输入您的手机号（必填）"></dd>
				<dd><input type="text" placeholder="请输入您的公司名称（必填）"></dd>
				<dd><input type="text" placeholder="请输入您的职位名称"></dd>
				<dd><textarea rows="3" placeholder="请留下贵公司的产品名称或者相关网站,我们讲提前了解贵公司的产品情况,以保证与您的沟通质量"></textarea></dd>
				<dd><input class="p7_submit" type="submit"></dd>
				<dd><i>信息提交成功</i></dd>
			</dl>
			
		</div>
		
	</div>
</div>

<div class="array"></div>

</body>
</html>