@charset "utf-8";

/*
 * 公有样式类
 */
body,div,header,section,ul,li,p,h1,h2,h3,h4,h5,h6,input,button,select,textarea,label,dl,dt,dd,i{margin: 0;padding: 0;border: none;list-style: none;font-style: normal;font-weight: normal;}
html{font-size: 20px;-webkit-tap-highlight-color: rgba(0,0,0,0);}
body{font-family: 'Microsoft yahei',Helvetica;font-size: .65rem;background-color:#fff;margin: 0 auto; color:#333;}
li{list-style: none;}
a{text-decoration: none;}
input,button,select,textarea{-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;font-family: 'Microsoft yahei',Helvetica;font-size: .65rem;background: transparent;color: #000;}
input::-webkit-input-placeholder{color: #bbb;}
input::-moz-input-placeholder{color: #bbb;}
input::-ms-input-placeholder{color: #bbb;}
select{background: none;border-radius: 0;}
button{cursor: pointer;}
img{width: 100%;padding:0;bottom:0;border:none; vertical-align:middle;}


html,body,#box{max-width: 640px;height: 100%;margin: 0 auto;}
.fix:after,.fix:before{display: table;content: '';}
.fix:after{clear: both;}

.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
